@import 'tailwind.pcss';

@import '_mixins.pcss';
@import '_variables.pcss';

@import './admin/admin.pcss';

@import '_typography.pcss';
@import '_common.pcss';

@import './components/components.pcss';

@import './pages/pages.pcss';
